.add-user-page{
  width: 40%;
  margin: 0 auto
}

.add-user-page form {
  margin-bottom: 12px;
}

.add-user-page a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}